.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 20px; 
  background-color: #f1f1f1;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-column h3 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.footer-logo {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.social-link .icon {
  font-size: 20px;
  margin-right: 5px;
  color: #000;
}

.contact-link {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #000;
}

.contact-link .icon {
  font-size: 20px;
  margin-right: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: #000;
  margin-bottom: 10px;
  display: block;
}

ul li a:hover {
  color: rgb(0, 153, 255);
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    width: 100%;
    margin: 10px 0;
  }

  .social-links {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer-container {
    padding: 10px;
  }

  .footer-column h3 .logo {
    width: 25px;  
    margin-right: 8px;
  }

  .footer-column h3 {
    font-size: 18px;  
  }

  .footer-column p, 
  .footer-column ul li a {
    font-size: 14px;  
  }

  .social-link .icon {
    font-size: 18px;
  }

  .contact-link .icon {
    font-size: 18px;
  }
}
